@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList;
@*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent;

@model IPagedList<Producto>

@{
    ViewData["Title"] = "Lista de Productos";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Fecha de Creación</th>
            <th>Fecha de Actualización</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td><img src="@producto.Imagen" width="100px" height="100px" /></td>
                <td>@producto.Precio</td>
                <td>@producto.Stock</td>
                <td>@producto.fechaCreacion</td>
                <td>@producto.fechaActualizacion</td>
                <td><a asp-controller="Admin" asp-action="EditarProducto" asp-route-id="@producto.id">Editar</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("ListaDeProductos", new { page }))
</div>