@model ICollection<Producto>

@{
    ViewData["Title"] = "Lista de Productos";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Fecha de Creación</th>
            <th>Fecha de Actualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Imagen</td>
                <td>@producto.Precio</td>
                <td>@producto.Stock</td>
                <td>@producto.fechaCreacion</td>
                <td>@producto.fechaActualizacion</td>
            </tr>
        }
    </tbody>
</table>