@page
@model RegisterModel

@{
    ViewData["Title"] = "Registro";
}

<head>
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/register.css" />
</head>

<div class="formulario">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <h2>Crea una cuenta nueva.</h2>
        <hr id="line" />

        <div asp-validation-summary="ModelOnly" role="alert"></div>

        <div class="inputBox">
            <div class="input">
                <span>Nombres</span>
                <input type="text" asp-for="Input.Nombres" placeholder="Ejm. Jose Luís" autocomplete="on" aria-required="true" />
                <span asp-validation-for="Input.Nombres"></span>
            </div>

            <div class="input">
                <span>Apellidos</span>
                <input type="text" asp-for="Input.Apellidos" placeholder="Ejm. Rosales Tejada" autocomplete="on"
                    aria-required="true" />
                <span asp-validation-for="Input.Apellidos"></span>
            </div>
        </div>

        <div class="inputBox">
            <div class="input">
                <span>DNI</span>
                <input type="number" asp-for="Input.Dni" autocomplete="on" aria-required="true" placeholder="Ejm. 76543210" min="10000000" max="99999999" />
                <span asp-validation-for="Input.Dni"></span>
            </div>
            <div class="input">
                <span>Email</span>
                <input type="email" asp-for="Input.Email" autocomplete="username" aria-required="true"
                    placeholder="name@example.com" />
                <span asp-validation-for="Input.Email"></span>
            </div>
        </div>

        <div class="inputBox">
            <div class="input">
                <span>Contraseña</span>
                <input type="password" asp-for="Input.Password" autocomplete="new-password" aria-required="true"
                    placeholder="***********" />
                <span asp-validation-for="Input.Password"></span>
            </div>
            <div class="input">
                <span>Confirmar contraseña</span>
                <input type="password" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true"
                    placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
        </div>

        <input type="submit" value="Registrar" class="btn">
    </form>

    <div class="login_services">
        <div id="title">
            <h1>Utilice otro servicio para registrarse.</h1>
        </div>

        <hr id="line" />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        No hay servicios de autenticación externos configurados. Mira esto <a
                            href="https://go.microsoft.com/fwlink/?LinkID=532715">artículo
                            acerca de la configuración de esta aplicación ASP.NET para admitir el inicio de sesión a través de
                            servicios externos</a>.
                    </p>
                </div>
            }
            else
            {
                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <input type="submit" class="btn" name="provider" value="@provider.Name"
                            title="Log in using your @provider.DisplayName account"></input>
                    }
                </form>
            }
        }
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
